tqdm
kaggle
matplotlib
numpy==1.23.5
opencv-python
Pillow
torch
absl-py
rich
grpcio
markdown
werkzeug
astunparse
google-pasta
opt-einsum
tensorflow-io-gcs-filesystem
termcolor
wrapt
gast>=0.2.1,!=0.5.0,!=0.5.1,!=0.5.2
libclang
torchviz
